# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

config/bluemap/storages/sql.conf
config/luckperms/luckperms.conf
config/ledger.toml
config/mcdiscordchat.json